body {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
	text-align: center;
}

h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #333;
}

h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #333;
}

#dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.upper {
	border: 1px solid #ccc;
	margin: 20px;
	margin-bottom: 30px;
	width: 700px;
	height: 490px;
	background-color: white;
}

.lower {
	border: 1px solid #ccc;
	margin: 5px;
	width: 250px;
	height: 200px;
	background-color: white;
}

.tooltip {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	padding: 6px;
	border-radius: 5px;
	pointer-events: none;
	font-size: 13px;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}


.legend {
    font-family: Arial, sans-serif;
}

.legend-title {
    font-weight: bold;
    fill: #333;
}

.legend-gradient {
    stroke: #ccc;
    stroke-width: 1px;
}

.brush .selection {
  fill: gray;
  fill-opacity: 0.2;
  stroke: none;
}